<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>My Proffys | Sua plataforma de estudos online</title>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body id="page-landing">
        <div id="container">
            <div class="logo-container">
                <img src="/images/logo.svg" alt="Proffys">
                <h2>Sua plataforma de estudos online</h2>
            </div>

            <img class="hero-image" src="/images/landing.svg" alt="plataforma de estudos">

            <div class="buttons-container">
                <a class="study" href="/study">
                    <img src="/images/icons/study.svg" alt="estudar">Estudar</a>

                <a class="teach" href="/teach">
                    <img src="/images/icons/teach.svg" alt="estudar">Dar aulas</a>
            </div>

            <p class="total-connections">Total de 200 conexões já realizadas
                <img src="/images/icons/purple-heart.svg" alt="coração">
            </p>
        </div>
    </body>
</html>